* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Verdana";
}
a { text-decoration: none; }

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

section {
	height: 120px;
	background-color: #16193b;
}

.mast {
	position: relative;
	width: 960px;
	margin: 0 auto 0 auto;
}

.mast h1 {
	font-family: "Tahoma";
	padding-top: 5px;
	font-size: 40px;
	letter-spacing: -3px;
	color: #fff;
}

.mast h1 span {
	color: #add5f7;
}

.mast nav ul {
	width: 200px;
	list-style-type: none;
	/*outline: 1px solid #000;*/
	margin-top: 40px;
}

.mast nav ul li {
	float: left; 
	margin-right: 20px;
}

.mast nav ul li a {
	font-family: "Arial";
	display: block;
	font-weight: bolder;
	padding: 5px 10px 0 10px;
	color: #fff;
}

.mast nav ul li a:hover {
	color: #ccc;
}
.mast nav ul li a.selected {
	color: #333;
	background-color: #fff;
}

.mast #search {
	position: absolute;
	right: 0;
	bottom: 10px;
}

#search input[type="text"] {
	font-family: "Verdana";
	background-color: #fff;
	border: 1px solid #fff;
	padding: 2px 2px;
}

#search input[type="submit"] {
	font-family: "Verdana";
	border: 1px solid #add5f7;
	background-color: #add5f7;
	color: #fff;
	text-transform: capitalize;
	padding: 0 4px;
}

.wrapper {
	width: 960px;
	margin: 4px auto 0 auto;
	/*outline: 1px solid green;*/
}

.status {
	margin-top: 2em;
	width: 700px;
	padding-bottom: 40px;
	border-bottom: 4px dotted #ccc;
}

#situation {
	display: block;
	width: 500px;
	float: left;
	margin-left: 20px;
}

.avatar {
	float: left;
	position: relative;
	width: 51px;
	height: 51px;
	border-radius: 99px;
	background-color: #fb60b6;
}

.avatar h3 {
	font-weight: lighter;
	text-transform: uppercase;
	color: #fff;
	padding-top: 13px;
	text-align: center;
}

#situation textarea {
	width: 100%;
	height: 55px;
	padding: 4px;
	border: 1px solid #ccc;
}

#stream {
	width: 700px;
	/*outline: 1px solid blue;*/
}

#stream ul {
	padding-top: 40px;
	list-style: none;
}

#stream li {
	padding-bottom: 20px;
}

.post {
	position: relative;
	width: 500px;
	float: left;
	margin-left: 20px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 8px;
}

.post a.fullname {
	display: block;
	font-size: 14px;
	color: #333;
}

.fam {
	background-color: #bff6ed;
}

.post a.username {
	display: block;
	font-size: 12px;
	color: #16a08a;
	font-weight: bolder;
	padding-bottom: 8px;
}

.post p.message {
	font-size: 13px;
	color: #333;
}

.post .date {
	text-transform: capitalize;
	display: block;
	padding-top: 8px;
	color: #333;
	font-size: 13px;
}





#login-label {
	font-weight: lighter;
	color: #333;
	font-size: 48px;
	padding: 10px;
	margin-bottom: 10px;
}

form#login,
form#register {
	font-family: "Tahoma";
	margin-top: 30px;
}

form#login div,
form#register div {
	position: relative;
	margin-bottom: 10px;
}

form#login label,
form#register label {
	font-weight: bolder;
	color: #333;
	text-transform: capitalize;
	width: 100px;
	display: inline-block;
}

form#login input[type="text"],
form#register input[type="text"] {
	border-radius: 2px;
	border: 1px solid #ccc;
	text-transform: capitalize;
	padding: 8px;
	width: 300px;
}

form#login input[type="submit"],
form#register input[type="submit"] {
	padding: 4px;
	width: 100px;
	color: #fff;
	border:none;
	font-size: 16px;
	text-transform: capitalize;
	font-weight: bold;
	margin: 20px 0 0 105px;
	background-color: #16193b;
}

.jumpto {
	font-weight: lighter;
	font-size: 14px;
	margin-top: 10px;
	margin-left: 100px;
}

.foot {
	position: absolute;
	width: 100%;
	bottom: 0;
	height: 30px;
}

.foot div {
	width: 960px;
	padding-top: 4px;
	color: white;
	margin: 0 auto 0 auto;
}
